[Unit]
Description=OFortMAuT Web App
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/ofortmaut
EnvironmentFile=/opt/ofortmaut/.env
ExecStart=/opt/ofortmaut/venv/bin/gunicorn --workers 4 --bind 0.0.0.0:8000 --timeout 120 --access-logfile /var/log/ofortmaut/access.log --error-logfile /var/log/ofortmaut/error.log wsgi:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
